<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly" NotFoundPage="typeof(Pages.NotFound)">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                
                <NotAuthorized>
                    <h3>Du har ikke adgang</h3>
                </NotAuthorized>

                <Authorizing>
                    <h3>Tjekker login...</h3>
                </Authorizing>

            </AuthorizeRouteView>

            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
    </Router>
</CascadingAuthenticationState>
